= render 'shared/header'
.default.container
  %main.u_container
    .content
      %section.chapter-container
        %h2.chapter-head 本人情報の登録
        .setting-mypage
          = form_for @user, method: :post, html: {class: 'setting-mypage-form'} do |f|
            =f.fields_for :address do |a|
              .mypage-info
                %p.mypage-info__1 お客さまの本人情報をご登録ください。
                %p.mypage-info__2 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
                %p.mypage-info__3
                = link_to "本人確認書類のアップロードアップロードについて＞",class: "mypage-info__4"
              .mypage-form
                %label お名前
                %p
                =@user.family_name
                =@user.first_name 
              .mypage-form
                %label お名前カナ
                %p
                =@user.family_name_kana
                =@user.first_name_kana
              .mypage-form
                %label 生年月日
                %p
                =@user.birthyear.name 
                %a /
                =@user.birthmonth.name
                %a /
                =@user.birthday.name
              .mypage-form
                %label{for:"postal_code"} 郵便番号
                %span.form-require-sub 任意
                .field-input
                  = a.text_field :postal_code, placeholder: "例) 123-4567", type: "text", class: "mypage-input-text"
              .mypage-form
                %label{for: "prefecture_id"} 都道府県
                %span.form-require-sub 必須
                .field-input
                  = a.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "--"}, {class: 'mypage-input-address'}
              .mypage-form
                %label{for:"city"} 市区町村
                %span.form-require-sub 任意
                .field-input
                  = a.text_field :city, placeholder: "例) 横浜市緑区", type: "text", class: "mypage-input-text"
              .mypage-form
                %label{for:"address"} 番地
                %span.form-require-sub 任意
                .field-input
                  = a.text_field :address, placeholder: "例) 青山1-1-1", type: "text", class: "mypage-input-text"
              .mypage-form
                %label{for:"building"} 建物名
                %span.form-require-sub 任意
                .field-input
                  = a.text_field :building, placeholder: "例) 柳ビル103", type: "text", class: "mypage-input-text"
              .mypage-form
                .mypage-form-submit 登録する
    
    = render 'shared/side_bar'

  = render 'shared/footer'