%body
  .exhibit-body{style: "\n    padding-bottom: 200px;\n"}
    .exhibit__container{style: "\n    height: 2144px;\n"}

      = render 'items/sell-header'

      %main.w-single-main
        %section.w-single-container
          %h2.w-single-head.registration 新規会員登録
          .w-single-inner.registration-form
            .w-single-content
              .btn-default.btn-mail{href: ""}
                %i.icon-mail
                = link_to "メールアドレスで登録する", step1_signup_index_path         
              .btn-default.btn-sns.btn-sns-facebook
                %i.icon-mail
                = link_to "Facebookで登録する", user_facebook_omniauth_authorize_path
              .btn-default.btn-sns.btn-sns-google
                %i.icon-mail
                = link_to "Googleで登録する", user_google_oauth2_omniauth_authorize_path

      = render 'items/sell-footer'
