.header-slide
  .first-slide

  = image_tag "merucari.png", height:"100%", width: "100%"


.sc-ebFjAB.dxJnjc
  .sc-jKVCRD.cIdceG
    .sc-clNaTc.iniLfl
      .contents 
        .contents--categories__header
          %h1.header__title 人気のカテゴリー
          .header--categories__names
            %ul.categories--name
              %li.items__a
                レディース
              %li.items__b
                メンズ
              %li.items__c
                家電・スマホ・カメラ
              %li.items__d
                おもちゃ・ホビー・グッズ

        .items
          .sc-eXNvrr.fbfdVP
            .items--contents__a.related-item-column
              .a--box
                %h3.box__title レディース新着アイテム
                .button もっと見る>
              .sc-iQtOjA
                %ul
                  .items-box-content
                    = render 'shared/item'

        .sc-clNaTc.iniLfl
          .contents
            .contents2
              .items
                .sc-eXNvrr.fbfdVP
                  .items--contents__a.related-item-column
                    .a--box
                      %h3.box__title メンズ新着アイテム
                      .button もっと見る>
                    .sc-iQtOjA
                      %ul
                        = render 'shared/item'

            .sc-clNaTc.iniLfl
              .contents
                .contents2
                  .items
                    .sc-eXNvrr.fbfdVP
                      .items--contents__a.related-item-column
                        .a--box
                          %h3.box__title 家電・スマホ・カメラ新着アイテム
                          .button もっと見る>
                        .sc-iQtOjA
                          %ul
                            = render 'shared/item'                                         

              .sc-clNaTc.iniLfl
                .contents
                  .contents2
                    .items
                      .sc-eXNvrr.fbfdVPP
                        .items--contents__a.related-item-column
                          .a--box
                            %h3.box__title おもちゃ・ホビー・グッズ新着アイテム
                            .button もっと見る>
                          .sc-iQtOjA
                            %ul
                            = render 'shared/item'           
                                        
                            = link_to "/items/new/", class: "fixed_btn" do
                              出品
                              .aaa
                                %i.fa.fa-camera     
