.header-slide{style: "height: 290px;"}
  .first-slide
  = image_tag "slidecamp.png", height:"290", width: "100%"


-#   .second-slide
-# .slide-button-prev
-# .slide-button-next
-# .slide-paginate

-# %button.fixed_btn
-# ボタン

-# %ul.sc-cqCuEk.jKltcZ  
-#   %span.sc-hzDkRC.cEMgYD{style: "width: 300px;"}
-#     %i.fas.fa-user-circle

.sc-ebFjAB.dxJnjc
  .sc-jKVCRD.cIdceG
    .sc-clNaTc.iniLfl
      .contents 
        .contents--categories__header
          %h1.header__title 人気のカテゴリー
          .header--categories__names
            %ul.categories--name
              %li.items__a
                レディース
              %li.items__b
                メンズ
              %li.items__c
                家電・スマホ・カメラ
              %li.items__d
                おもちゃ・ホビー・グッズ

        .items
          .sc-eXNvrr.fbfdVP
            .items--contents__a.related-item-column
              .a--box
                %h3.box__title レディース新着アイテム
                .button もっと見る>
              %ul.items-box-content.clearfix
                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ
                
                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ
                      .items-box-num

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box-w
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box-ww
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

    .sc-clNaTc.iniLfl
      .contents
        .contents2
          .items
            .sc-eXNvrr.fbfdVP
              .items--contents__a.related-item-column
                .a--box
                  %h3.box__title メンズ新着アイテム
                  .button もっと見る>
                %ul.items-box-content.clearfix
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                  
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                        .items-box-num

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-w2
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-ww2
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

    .sc-clNaTc.iniLfl
      .contents
        .contents2
          .items
            .sc-eXNvrr.fbfdVP
              .items--contents__a.related-item-column
                .a--box
                  %h3.box__title 家電・スマホ・カメラ新着アイテム
                  .button もっと見る>
                %ul.items-box-content.clearfix
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                  
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                        .items-box-num

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-w3
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-ww3
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ                                                

    .sc-clNaTc.iniLfl
      .contents
        .contents2
          .items
            .sc-eXNvrr.fbfdVPP
              .items--contents__a.related-item-column
                .a--box
                  %h3.box__title おもちゃ・ホビー・グッズ新着アイテム
                  .button もっと見る>
                %ul.items-box-content.clearfix
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                  
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                        .items-box-num

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-w4
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-ww4
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ


        .contents--categories__header
          %h1.header__title 人気のカテゴリー
          .header--categories__names
            %ul.categories--name
              %li.items__a
                シャネル
              %li.items__b
                ルイヴィトン
              %li.items__c
                シュプリーム
              %li.items__d
                ナイキ

        .items
          .sc-eXNvrr.fbfdVP
            .items--contents__a.related-item-column
              .a--box
                %h3.box__title シャネル新着アイテム
                .button もっと見る>
              %ul.items-box-content.clearfix
                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ
                
                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ
                      .items-box-num

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box-w5
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

                %li.items-box-ww5
                  .items-box2
                    %figure.items-box-photo
                      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                    .items-box-body
                      %h3.items-box-name.font-2 ワンオク　ボディバッグ

    .sc-clNaTc.iniLfl
      .contents
        .contents2
          .items
            .sc-eXNvrr.fbfdVP
              .items--contents__a.related-item-column
                .a--box
                  %h3.box__title ルイヴィトン新着アイテム
                  .button もっと見る>
                %ul.items-box-content.clearfix
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                  
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                        .items-box-num

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-w6
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-ww6
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

    .sc-clNaTc.iniLfl
      .contents
        .contents2
          .items
            .sc-eXNvrr.fbfdVP
              .items--contents__a.related-item-column
                .a--box
                  %h3.box__title シュプリーム新着アイテム
                  .button もっと見る>
                %ul.items-box-content.clearfix
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                  
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                        .items-box-num

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-w7
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-ww7
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ                                                
                        
    .sc-clNaTc.iniLfl
      .contents
        .contents2
          .items
            .sc-eXNvrr.fbfdVP
              .items--contents__a.related-item-column
                .a--box
                  %h3.box__title ナイキ新着アイテム
                  .button もっと見る>
                %ul.items-box-content.clearfix
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                  
                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ
                        .items-box-num

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-w8
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ

                  %li.items-box-ww8
                    .items-box2
                      %figure.items-box-photo
                        = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
                      .items-box-body
                        %h3.items-box-name.font-2 ワンオク　ボディバッグ                                                                        