.header-slide
  .first-slide
  %img{:height => "290", :src => "assets/slidecamp.png", :width => "700px"}
  .second-slide
.slide-button-prev
.slide-button-next
.slide-paginate

.contents
  .contents--categories__header
    %h1.header__title 人気のカテゴリー
    .header--categories__names
      %ul.categories--name
        %li.items__a
          レディース
        %li.items__b
          メンズ
        %li.items__c
          家電・スマホ・カメラ
        %li.items__d
          おもちゃ・ホビー・グッズ

  .items
    .items--contents__a.related-item-column
      .a--box
        %h3.box__title レディース新着アイテム
        .button もっと見る>
      %ul.items-box-content.clearfix
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "ワンオク　ボディバッグ"
          .items-box-body
            %h3.items-box-name.font-2 ワンオク　ボディバッグ
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "MY FIRST STORY CDセット売り"
          .items-box-body
            %h3.items-box-name.font-2 MY FIRST STORY CDセット売り
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "マイケルコース　2wayバック"
          .items-box-body
            %h3.items-box-name.font-2 マイケルコース　2wayバック
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "ディッキーズ　ハーフパンツ"
          .items-box-body
            %h3.items-box-name.font-2 ディッキーズ　ハーフパンツ
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "Acid Black Cherry カチューシャ"
          .items-box-body
            %h3.items-box-name.font-2 Acid Black Cherry カチューシャ
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "ワンオク　トートバック"
          .items-box-body
            %h3.items-box-name.font-2 ワンオク　トートバック
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "ショルダーバッグ  お値下げ"
          .items-box-body
            %h3.items-box-name.font-2 ショルダーバッグ  お値下げ
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "コーチ　花柄　ショルダーバッグ"
          .items-box-body
            %h3.items-box-name.font-2 コーチ　花柄　ショルダーバッグ
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "美品 オールドコーチ 9790 ターンロック 斜め掛けショルダーバッグ G311"
          .items-box-body
            %h3.items-box-name.font-2 美品 オールドコーチ 9790 ターンロック 斜め掛けショルダーバッグ G311
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "USA製 オールドコーチ　 Canteen　牛革レザー　ポシェット　ネイビー"
          .items-box-body
            %h3.items-box-name.font-2 USA製 オールドコーチ　 Canteen　牛革レザー　ポシェット　ネイビー
            .items-box-num
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "最終値下げ☆新品 COACH チャーりキャリーオール ハンドバッグ ショルダー"
          .items-box-body
            %h3.items-box-name.font-2 最終値下げ☆新品 COACH チャーりキャリーオール ハンドバッグ ショルダー
        %li.items-box
          %figure.items-box-photo
            = image_tag 'itemomage.jpeg', size: "220x220", class: "lazyloaded", alt: "⭐️美品⭐️コーチ　バック"
          .items-box-body
            %h3.items-box-name.font-2 ⭐️美品⭐️コーチ　バック
            .items-box-num