.header-slide{style: "height: 290px;"}
  .first-slide

  = image_tag "slidecamp.png", height:"290", width: "800"

-#   .second-slide
-# .slide-button-prev
-# .slide-button-next
-# .slide-paginate


.sc-ebFjAB.dxJnjc
  .sc-jKVCRD.cIdceG
    .sc-clNaTc.iniLfl
      .contents 
        .contents--categories__header
          %h1.header__title 人気のカテゴリー
          .header--categories__names
            %ul.categories--name
              %li.items__a
                レディース
              %li.items__b
                メンズ
              %li.items__c
                家電・スマホ・カメラ
              %li.items__d
                おもちゃ・ホビー・グッズ

        .items
          .sc-eXNvrr.fbfdVP
            .items--contents__a.related-item-column
              .a--box
                %h3.box__title レディース新着アイテム
                .button もっと見る>
              .sc-iQtOjA
                %ul
                  .items-box-content
                    -# = render "item", @items
                    - @items.each do |item|
                      %li.items-box
                        .items-box2
                          .items-box-photo
                            -# = image_tag item.images.first.image.url

                            = image_tag @items.each do |item|
                              puts item
                              = image_tag item.images.first.image.url,width: “187”,height: “200”
                          
                            -# images[0].image.url
                            -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
                            .price
                              %span ¥
                              = item.price 

                          .items-box-body
                            %h3.items-box-name.font-2
                              = item.item
                    
        .sc-clNaTc.iniLfl
          .contents
            .contents2
              .items
                .sc-eXNvrr.fbfdVP
                  .items--contents__a.related-item-column
                    .a--box
                      %h3.box__title メンズ新着アイテム
                      .button もっと見る>
                    .sc-iQtOjA
                      %ul
                        .items-box-content.clearfix
                          - @items.each do |item|
                            %li.items-box
                              .items-box2
                                .items-box-photo
                                  -# = image_tag item.images.first.image.url

                                  -# = image_tag @items.each do |item|
                                  -#   puts item
                                  -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
                                
                                  -# images[0].image.url
                                  -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
                                  .price
                                    %span ¥
                                    = item.price 

                                .items-box-body
                                  %h3.items-box-name.font-2
                                    = item.item

            .sc-clNaTc.iniLfl
              .contents
                .contents2
                  .items
                    .sc-eXNvrr.fbfdVP
                      .items--contents__a.related-item-column
                        .a--box
                          %h3.box__title 家電・スマホ・カメラ新着アイテム
                          .button もっと見る>
                        .sc-iQtOjA
                          %ul
                            .items-box-content.clearfix
                              - @items.each do |item|                
                                %li.items-box
                                  .items-box2
                                    .items-box-photo
                                      -# = image_tag item.images.first.image.url

                                      -# = image_tag @items.each do |item|
                                      -#   puts item
                                      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
                                    
                                      -# images[0].image.url
                                      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
                                      .price
                                        %span ¥
                                        = item.price

                                    .items-box-body
                                      %h3.items-box-name.font-2
                                        = item.item                                          

              .sc-clNaTc.iniLfl
                .contents
                  .contents2
                    .items
                      .sc-eXNvrr.fbfdVPP
                        .items--contents__a.related-item-column
                          .a--box
                            %h3.box__title おもちゃ・ホビー・グッズ新着アイテム
                            .button もっと見る>
                          .sc-iQtOjA
                            %ul
                            .items-box-content.clearfix
                              - @items.each do |item|                
                                %li.items-box
                                  .items-box2
                                    .items-box-photo
                                      -# = image_tag item.images.first.image.url

                                      -# = image_tag @items.each do |item|
                                      -#   puts item
                                      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
                                    
                                      -# images[0].image.url
                                      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
                                      .price
                                        %span ¥
                                        = item.price

                                    .items-box-body
                                      %h3.items-box-name.font-2
                                        = item.item            
                                                                                                      
                                = link_to "/items/new/", class: "fixed_btn" do
                                  出品
                                  .aaa
                                    %i.fa.fa-camera     
