- @items.each do |item|
  - if item.buyer_id != nil
    %li.items-box
      .items-box2
        .items-box-photo
          = image_tag item.images[0].image.url,class: "oooo"
          .price
            %span ¥
            = item.price
          .sold SOLD
        .items-box-body
          %h3.items-box-name.font-2
            = item.item
  - else
    %li.items-box
      .items-box2
        .items-box-photo-b
          = image_tag item.images[0].image.url,class: "oooo"
          .price
            %span ¥
            = item.price
        .items-box-body
          %h3.items-box-name.font-2
            = item.item